html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #fff;
}

.wrapper {
    width: 90%;
    margin: 6em auto 0 auto;
    text-align: center;
}

.text a {
    border-bottom: 2px dotted #fff;
    text-decoration: none;
    color: #fff;
}

.icons {
    margin-top: 5em;
    margin-bottom: 2em;
}

.fa {
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    font-size: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin-left: 0.2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.icons a {
  margin-left: 0.5em;
}
.icons a:first-of-type {
  margin-left: 0;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #4099FF;
}

.fa-instagram {
  color: #125688;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-stack-overflow {
  color: #ff7711;
}

.fa-flickr {
  color: #ff0084;
}

.self-image {
  max-width: 300px;
  max-height: 300px;
  width: 80%;
  height: 80%;
}

 .img-circle {
     border-radius: 50%;
 }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media screen and (max-width : 1024px) { 
  .wrapper {
    margin-top: 1em;
  }
  
  .icons {
    margin-top: 1em;
  }
}